{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"semi": "off",
		"no-tabs": "off",
		"require-jsdoc": "off",
		"indent": "off",
		"linebreak-style": "off",
		"keyword-spacing": "off",
		"operator-linebreak": "off",
		"max-len": "off"
	},
	"extends": ["eslint:recommended", "google"]
}