@import "variables";
@import "mixins";

.excel__table {
	position: absolute;
	left: 0;
	right: 0;
	top: $header-height + $toolbar-height + $formula-height;
	overflow-x: auto;
	padding-bottom: 2px;


	.row {
		display: flex;
		flex-direction: row;
		min-height: 20px;
		height: $row-height;
	}


	.row-info {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;
		min-width: $info-cell-width;
		height: 100%;
		border: 1px solid $border-color;
		background-color: #f8f9fa;
		border-top: 0;
	}


	.row-data {
		display: flex;
	}


	.row-resize {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		height: 4px;

		background-color: $primary-color;
		opacity: 0;


		&:hover {
			opacity: 1;
			cursor: row-resize;
		}
	}


	.column {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;
		
		min-width: 40px;
		width: $cell-width;
		height: 100%;

		background-color: #f8f9fa;
		border: 1px solid $border-color;
		border-top: 0;
		border-left: 0;
	}


	.cell {
		min-width: 40px;
		width: $cell-width;
		height: 100%;

		padding: 5px;

		border: 1px solid #e2e3e3;
		border-top: 0;
		border-left: 0;
		outline: none;

		white-space: nowrap;


		&.selected {
			border: 0;
			outline: 2px solid $primary-color;
			z-index: 2;
		}
	}


	.col-resize {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;

		width: 6px;

		background-color: $primary-color;
		opacity: 0;


		&:hover {
			opacity: 1;
			cursor: col-resize;
		}
	}
}